@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.centered-column {
  text-align: center;
}

.highlight-green {
  background-color: #c6f6d5; 
  padding: 0.4rem 0.8rem; 
  border-radius: 0.4rem; 
  display: inline-block; 
  color: #1dba4b;
  font-weight: bold;
}

.highlight-red {
  background-color: #fed7d7; 
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem; 
  display: inline-block;
  color: #fb4d4d;
  font-weight: bold;
}

.highlight-orange {
  background-color: #fbcc7d;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem; 
  display: inline-block;
  color: #b47305;
  font-weight: bold;
}

.highlight-blue {
  background-color: #bee3f8; 
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  display: inline-block;
  color: #179de6;
  font-weight: bold;
}

.highlight-gray {
  background-color: #e2e8f0; 
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  display: inline-block;
}

.highlight-yellow {
  background-color: #fefcbf; 
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  display: inline-block;
  color: #b8aa01;
  font-weight: bold;

}
