@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

option {
  font-size: 18px; /* O el tamaño que desees */
  padding: 10px 16px; /* Agrega un padding para darle más espacio */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-atendida {
  background-color: #D1FFD6; /* Color de fondo para "Atendida" */
}

.bg-pendiente {
  background-color: #FFF5D1; /* Color de fondo para "Pendiente" */
}


.bg-emergencia {
  background-color: orange;
}

.bg-urgencia {
  background-color: yellow;
}

.bg-sin-urgencia {
  background-color: blue;
}

.bg-resucitacion {
  background-color: red;
}

.bg-urgencia-menor {
  background-color: green;
}