@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.centered-column {
  text-align: center;
}

.highlight-green {
  background-color: #c6f6d5; /* Color de fondo verde claro */
  padding: 0.4rem 0.8rem; /* Espaciado interno para hacer el resaltado más grande */
  border-radius: 0.4rem; /* Bordes redondeados */
  display: inline-block; /* Hace que el padding se aplique solo alrededor del texto */
}

.highlight-red {
  background-color: #fed7d7; /* Color de fondo rojo claro */
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem; 
  display: inline-block;
}

.highlight-orange {
  background-color: #fbd38d; /* Color de fondo naranja claro */
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem; 
  display: inline-block;
}